<div class="row d-flex align-items-center">
  <div class="col" *ngFor="let city of location; let i = index">
    <div class="card border border-seccondary" >
      <div class="card-header d-flex justify-content-between text-secondary text-capitalize">
        <h4>{{ city.name }},{{ city.region }}</h4>
        <button class="btn btn-danger btn-sm" type="submit">DEL</button>
      </div>
      <div class="card-body">
        <h4 class="font-weight-bold">{{ city.condition.date }} </h4>
        <h5 class="text-muted">{{ city.condition.text }}</h5>
        <h1 class="display-3">{{ city.condition.temp }}°</h1>
      </div>
      <div class="card-footer">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Low</th>
              <th scope="col">High</th>
              <th scope="col">Text</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userCity of city.forecast; let i = index">
              <td>{{ userCity.day }}</td>
              <td>{{ userCity.low }}</td>
              <td>{{ userCity.high }}</td>
              <td>{{ userCity.text }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>